.container-perfil {
    background-image: url('../assets//speed.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    color: blue;
}

